
.nav{
    font-weight: 500;
    font-size: larger;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    background-color: var(--below-background-color);
}

.navleft{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.navright{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}


.styllink{
    text-decoration: none;
    color: #7070a1;
}

.butn{
    padding: 20px 50px;
    font-size: 20px !important;
    font-weight: 600 !important;
    background-color: #000000 !important;
}


.logo {
    width: 40px;
    height: auto;
 }
 
 .logowrapper {
    padding: 20px 0px;
 }


 .okr {
    font-size: 25px;
    font-family: var(--poppins);
    font-weight: 500;
 }


.maincontent{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--below-background-color);
}

.maintitle{
    width: 70%;
    height: auto;
    text-align: center;
}

.h1tag{
    font-size: 5rem;
}