
.nav{
    font-weight: 500;
    font-size: larger;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    display: flex;
    justify-content:space-between;
    background-color: var(--below-background-color);
}

.navleft{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.navright{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}


.styllink{
    text-decoration: none;
    color: #7070a1;
}

.butn{
    padding: 20px 50px;
    font-size: 20px !important;
    font-weight: 600 !important;
    background-color: #000000 !important;
}


.logo {
    width: 40px;
    height: auto;
 }
 
 .logowrapper {
    padding: 20px 0px;
 }


 .okr {
    font-size: 25px;
    font-family: var(--cavet);
    font-weight: 700;
 }


.maincontent{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--below-background-color);
}

.maintitle{
    background-image: url('https://lh3.googleusercontent.com/vvm00GimaLqpsW4zeODWAbrpApsUfm8t7XVOvW4ZMShdEjRa5dx3ZzQzXcbg7jMa6Fo2X63naBVvcXhuj3etkPO78ZHbA21oQfVc2xuWRo2A7wlKaE4=w2400-rj');
    background-repeat: no-repeat;
    height: 50%;
    background-size: cover;
    width: 98%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1tag{
    width: 55%;
    text-align: center;
    font-size: 5rem;
    color: #373838;;
}


.h4tag{
    width: 70%;
    text-align: center;
    font-size: 1.5rem;
    color: #757979;
}