
.nav{
    font-weight: 500;
    font-size: larger;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    display: flex;
    justify-content:space-between;
}

.navleft{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}

.navright{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
}


.butn{
    padding: 30px;
}


.logo {
    width: 40px;
    height: auto;
 }
 
 .logowrapper {
    padding: 20px 0px;
 }


 .okr {
    font-size: 25px;
    font-family: var(--poppins);
    font-weight: 500;
 }

 
.maincontent{
    height: 100vh;
    background-color: var(--below-background-color);
}