@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Delicious+Handrawn&family=Lobster&family=Poppins:wght@700&display=swap');



.imageSection {
    min-height: 100vh;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/vvm00GimaLqpsW4zeODWAbrpApsUfm8t7XVOvW4ZMShdEjRa5dx3ZzQzXcbg7jMa6Fo2X63naBVvcXhuj3etkPO78ZHbA21oQfVc2xuWRo2A7wlKaE4=w2400-rj');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;

}

.imageSectionSignup {
    min-height: 100vh;
    height: 100%;
    background-image: url('https://lh3.googleusercontent.com/4ixo00BDJowWndZUO-r-lOeLGVdAUOkKrPlQlxZHaf7Kbh-gfJ0S6HK1_t_lbmf7g60cANV2NVXzXTCSVKZ_s-n2OhWfU72m2xd_zeQ9348Dd3zd348H=w2400-rj');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
}


.textleftalign {
    display: flex !important;
    left: 20px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 250px;
    padding-left: 30px;
    gap: 30px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    ;
}

.textleftalign h1 {
    width: 80%;
    font-size: 75px;
    font-weight: 400;
}

.textleftalign h4 {
    width: 80%;
    font-size: 25px;
    font-weight: 200;
}


.leftWrapper {
    width: 60%;
    padding: 10% 20px;
    margin-top: -20px;
}

.pwithbeforafter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 0px 10px;
    color: var(--lightGreyText);
    white-space: nowrap;
}

.hr {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}

.createAccount {
    font-size: 15px;
    font-weight: 500;
}

.codeDigit {
    font-size: 13px;
    color: var(--greyText);
    font-weight: 300;
}

@media only screen and (max-width : 668px) {
    .leftWrapper {
        width: 100%;
        padding: 10% 8%;
    }

    .leftCol {
        min-height: 100vh;
    }
}