.main{
    width: 100%;
    height: 100%;
}

.first{
    background-image: url('laptop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100%;
    color: black;
    align-items: center;
    padding: 20px;
    display: flex;
}
.second{
    display: flex;
    background-color: rgba(240, 248, 255, 0.555);
    border-radius: 25px;
    text-align: center;
    padding: 19px;
    align-items: center;
    margin: 92px;
 
    font-size: xx-large;
    font-style: normal;
}

.info{
    display: flex;
    background-color: rgba(136, 90, 90, 0.616);
    margin: 80px;
    padding: 30px;
    font-size: large;
    border-radius: 3px;
}