.nav_wrapper{
          padding: 17px 35px;
          position: sticky;
          top: 0px;
          z-index: 1;
          background-color: var(--below-background-color);
}

.name{
          font-size: 15px;
          font-weight: 500;
}
.role{
          font-size: 14px;
          font-weight: 400;
          color: var(--accent);
}
.screen_name{
          font-family: var(--poppins);
          font-weight: 500;
          font-size: 25px;
}
.noti{
          font-size: 12px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          position: absolute;
          top: -8px;
          right: -8px;
          /* width: 20px; */
          padding: 3px 6px;
          height: 20px;
}
.menu{
          display: none;
}

@media only screen and ( max-width : 668px){
          .switchAndBell {
             display: none;
          }
          .screen_name{
                    font-size: 22px;
          }
          .name{
                    display: none;
          }
          .role{
                    display: none;
          }
          .nav_wrapper{
                    padding: 17px 5%;
          }
          .menu{
                    display: block;
          }
}