.input{
          outline : none;
          width: 100%;
          border: 0.5px solid var(--border-color);
          height: 50px;
          border-radius: 30px;
          padding: 0px 30px;
          font-size: 15px;
          background-color: var(--light);
          color: var(--dark);
          transition: .2s;
}
.input:hover{
          border-color: var(--border-color-hover);
          transition: .2s;
}
.drp{
          margin-right:  30px;
          width: 100%;
          border: none;
          height: 100%;
          box-shadow: none;
          outline: none;
          background-color: inherit;
}
.options{
          border: none;
          box-shadow: none;
          padding: 20px;
}
.input:focus{
          border-width: 2px;
          border-color: var(--accent);
          transition: .5s;
}
.inputError{
          border-color: var(--error);
}
.labelStyle{
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
}
.error{
          color: var(--error);
          font-size: 12px;
          font-weight: 300;
          margin-top: 5px;
          transition: 1s;
}