.customBtn{
          border: 0.5px solid var(--border-color);
          height: 50px;
          border-radius: 30px;
          width: 100%;
          cursor: pointer;
          transition: 0.5s;
          color: var(--light);
          background-color: var(--accent);
}
.customBtn p{
          font-size: 15px;
          color: var(--light);
          font-weight: 500;
} 
.nofill{
          background-color: transparent;
          border: 0.5px solid var(--border-color);
}
.nofill p{
          color: var(--accent);
}